<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="YouTrackSuite" parallel="tests" thread-count="5">

    <listeners>
        <listener class-name="utils.TestListener"/>
    </listeners>

    <test name="LoginTests">
        <classes>
            <class name="tests.LoginTest"/>
        </classes>
    </test>

    <test name="LogoutTests">
        <classes>
            <class name="tests.LogoutTest"/>
        </classes>
    </test>

    <test name="ArticleTests">
        <classes>
            <class name="tests.ArticleTest"/>
        </classes>
    </test>

    <test name="DashboardTests">
        <classes>
            <class name="tests.DashboardTest"/>
        </classes>
    </test>

    <test name="SearchDashboardTests">
        <classes>
            <class name="tests.SearchDashboardTest"/>
        </classes>
    </test>

</suite>